doctype html
html
  head
    title pending return
    table(width='100%')
      tr
        td
          a(href='/admin') Home
        td#user_name(dir='rtl') Welcome Admin
    div(align='center')
      h3 Pending Return
  br
  br
  body
    div(align='center')
        if pending_return_list.length>0
            form(action='/admin/return', method='POST')
                table(cellpadding='5')
                    tr
                        th Members name
                        th Members ID
                        th Requested Books
                        th Requested on
                        th Approve
                    each row in pending_return_list
                        tr(align='center')
                            td(align='left')= row.member_name
                            td= row.member_id
                            td= row.book_name
                            td= row.requested_on
                            td
                                input(type='checkbox' name=[row.book_id,row.member_id])
                br
                br
                input(type='button',style='font-size:20px',value="Select all", onclick='selectAll()')
                input(type='submit',style='font-size:20px', value="Submit")
        else
            p(style='font-size:20px') No return request received.


        script.
            var selectAll = function(){
            var input_element = document.getElementsByTagName('input')
                for(var i=0;i<input_element.length;i++){
                    if(input_element[i].type=='checkbox'){
                    input_element[i].checked=true;
                    }
                }
            }
