doctype html
html
  head
    title pending borrow
    table(width='100%')
      tr
        td
          a(href='/') Home
        td#user_name(dir='rtl') Welcome Admin
    div(align='center')
      h3 Pending Borrow
  br
  br
  body
    div(align='center')
      form(action='/admin/pending_borrow_request', method='POST')
        table(border='0' id='borrow_request_table')
            tr
                th Members name
                th Members ID
                th Requested Books
                th Approve
                each row in pending_borrow_list
                    tr
                        td= row.member_name
                        td(align='center')= row.member_id
                        td= row.book_name
                        td(align='center')
                            input(type='checkbox' name=[row.book_id,row.member_id])
        br
        br
        input(type='submit', value='Submit', style='font-size:20px')
