doctype html
html
  head
    title admin home page
    table(width='100%')
      tr
        td
            a(href='/admin') Home
        td#user_name(dir='rtl') Welcome Admin
    div(align='center')
      h3 Admin
  body
    table(align='center', cellpadding='10')
        tr
            td
                a(href='admin/borrow') Pending Borrow Request
        tr
            td
                a(href='admin/return') Pending Return Request
        tr
            td
                a(href='admin/status/books')  See all books status
        tr
            td
                a(href='admin/updates/books') Insert books
        tr
            td
                a(href='admin/updates/books/book') Delete books
