doctype html
html
  head
    title welcome user
    table(width='100%')
      tr
        td
          a(href='/') Home
        td(dir='rtl') Welcome user
  body
    br
    br
    font(size='4')
      table(align='center', border='0')
        each book in books
            tr
                td=book.book_name
                td &nbsp&nbsp | issued on
                td=book.issued_on
    br
    br
    div(align='center')
      button(onclick="window.location.href='/borrow'")
        font(size='3') Borrow
      |         &nbsp&nbsp
      button(onclick="window.location.href='/return'")
        font(size='3') Return
