doctype html
html
  head
    title home
  body
    br
    br
    br
    div(align='center')
        form(action='/member',method='GET')
            label Select a member :
            br
            br
            select(name='member',style='font-size:15px')
                each member in members
                    option(value=member.member_id)=member.member_name
            button(type='submit',style='font-size:15px') Ok
